<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>EasyTask</title>

    <link rel="shortcut icon" type="image/png" th:href="@{/layout/images/icones/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/layout/css/materialize.min.css}" />
    <link rel="stylesheet" th:href="@{/layout/css/stylesheet.css}" />
    <link rel="stylesheet" th:href="@{/layout/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>

<body>
    <main>
        <th:block layout:fragment="conteudo"/>
    </main>

    <footer class="page-footer transparent">
        <div class="footer-copyright grey">
            <div class="container">
                © 2017 EasyTask
                <a class="grey-text text-lighten-4 right" href="http://www.github.com/gabrielczar">
                    Desenvolvido por Gabriel César</a>
            </div>
        </div>
    </footer>

    <script th:src="@{/layout/js/jquery.min.js}"></script>
    <script th:src="@{/layout/js/materialize.min.js}"></script>
    <script th:src="@{/layout/js/angular.min.js}"></script>
    <script th:src="@{/layout/js/script.js}"></script>
    <script th:src="@{/layout/js/app.js}"></script>
</body>
</html>
