<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/profile">
<body>
<th:block layout:fragment="conteudo">

    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <ul class="tabs distance-min">
                    <th:block th:if="${pedido.usuario.username == #authentication.name}">
                        <li class="tab col s3"><a class="black-text" href="#info">Informações</a></li>
                        <th:block th:unless="${pedido.status.descricao == 'Ativo'}">
                            <li class="tab col s3"><a class="black-text" href="#ofertas">Ofertas</a></li>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${pedido.usuario.username == #authentication.name}">
                        <li class="tab col s3"><a class="black-text" href="#info">Informações</a></li>
                        <th:block th:unless="${pedido.status.descricao == 'Ativo'}">
                            <li class="tab col s3"><a class="black-text" href="#ofertas">Ofertas</a></li>
                            <li class="tab col s3"><a class="black-text" href="#my-offer">Minha Oferta</a></li>
                        </th:block>
                    </th:block>

                </ul>
            </div>
            <div id="info">
                <div class="error" id="error_cancelar">

                </div>

                <div class="col s12 m7" >
                    <h3 th:text="${pedido.nome}"></h3>

                    <h5>Atividade</h5>
                    <p th:text="${pedido.servico.atividade}"></p>

                    <h5>Descrição</h5>
                    <p th:text="${pedido.servico.descricao}"></p>

                    <h5>Prazo Restante</h5>
                    <p th:text="${pedido.prazoRestante}"></p>

                    <!-- ANEXOS SE DER TEMPO DE FAZER -->
                </div>
                <div class="col s12 m5">
                    <blockquote class="x-bloquote">
                        <h5>Resumo do Pedido</h5>

                        <p>Status
                            <strong class="right right-align" th:text="${pedido.status.descricao}"></strong>
                        </p>

                        <p>
                            <th:block th:if="${pedido.status.descricao == 'Ativo'}">
                                Preço
                                <strong class="right right-align" th:text="${pedido.valor}"></strong>
                            </th:block>
                            <th:block th:unless="${pedido.status.descricao == 'Ativo'}">
                                Estimativa de Preço
                                <strong class="right right-align" th:text="${pedido.valorEstimado}"></strong>
                            </th:block>
                        </p>


                        <p><th:block th:if="${pedido.status.descricao == 'Ativo'}">Data de Inicio</th:block>
                            <th:block th:unless="${pedido.status.descricao == 'Ativo'}">Postado</th:block>
                            <strong class="right right-align" th:text="${pedido.dataInicio}"></strong>
                        </p>

                        <p>Categoria
                            <strong class="right right-align" th:text="${pedido.servico.categoria.nome}"></strong>
                        </p>
                        <th:block th:if="${pedido.status.descricao == 'Ativo'}">
                            <p class="flow-text">Profissional
                                <i th:text="${pedido.profissional.nome}" class="right right-align"></i>
                            </p>
                        </th:block>

                        <th:block th:unless="${pedido.usuario.username == #authentication.name}">
                            <p class="flow-text">Financiador
                                <i th:text="${pedido.usuario.nome}" class="right right-align"></i>
                            </p>
                            <th:block th:unless="${pedido.status.descricao == 'Ativo'}">
                                <a href="#my-offer" class="waves-effect waves-light btn blue darken-2 col m12 s12">Apresentar Proposta</a>
                            </th:block>
                        </th:block>

                        <div class="distance-max" th:if="${pedido.usuario.username == #authentication.name}">

                            <a  class="waves-effect waves-light btn blue darken-2 col m12 s12" href="#cancelarPedido">Cancelar Pedido</a>

                            <!-- Modal Structure -->
                            <div id="cancelarPedido" class="modal">
                                <div class="modal-content">
                                    <h4>Cancelar Pedido</h4>
                                    <p>Você tem certeza que deseja cancelar esse pedido? </p>

                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{'/pedidos/user/' + ${pedido.id} + '/delete'}"  class="left btn red darken-2">Apagar Pedido</a>
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
            <th:block th:unless="${pedido.status.descricao == 'Ativo'}">
                <div id="ofertas">
                    <div class="col m12 s12">
                        <p class="flow-text center" th:if="${#lists.isEmpty(pedido.ofertas)}">
                            Aqui você vai ver novas ofertas e suas propostas.
                        </p>

                        <table th:if="${pedido.ofertas}" class="highlight" >
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Profissional</th>
                                <th>Valor</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tr th:each="oferta, pos : ${pedido.ofertas}">
                                <th th:text="${pos.count}"></th>
                                <th>
                                    <a th:href="@{'/user/' + ${oferta.usuario.username}/}" th:text="${oferta.usuario.nome}"></a>
                                </th>

                                <th th:text="${oferta.valor}"></th>
                                <th:block th:if="${pedido.usuario.username == #authentication.name}">
                                    <th class="opcoes_oferta">
                                        <form th:action="@{'/projetos/' + ${pedido.id} + '/oferta/' + ${oferta.id} + '/aceitar/' + ${#authentication.name}}" method="post">
                                            <button class="btn btn-flat">Aceitar</button>
                                        </form>
                                    </th><th>
                                    <form th:action="@{'/projetos/' + ${pedido.id} + '/oferta/' + ${oferta.id} + '/recusar/'}" method="post">
                                        <button class="btn btn-flat">Recusar</button>
                                    </form>
                                </th>
                                </th:block>
                            </tr>
                        </table>
                    </div>
                </div>
                <th:block th:unless="${pedido.status.descricao == 'Ativo'}">
                <div id="my-offer">
                    <div class="col m12 s12">
                        <div th:unless="${pedido.usuario.username == #authentication.name}">
                            <p id="message"></p>

                            <form id="oferta" method="post">
                                <input th:name="id" th:value="${pedido.id}" hidden="hidden" />
                                <input th:name="username" th:value="${#authentication.name}" hidden="hidden" />
                                <div class="input-field">
                                    <input id="#valor" type="number" step="any" name="valor" placeholder="valor" value="0"/>
                                </div>
                                <button id="btn_oferta" class="btn blue">Enviar oferta</button>
                            </form>
                        </div>
                    </div>
                </div>
                </th:block>
            </th:block>


        </div>
    </div>

</th:block>
</body>
</html>