<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/profile">
<body>
<th:block layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <h1>Busca de Projetos</h1>
            <p>Voce está na lista de pedidos.
                Abaixo estão os contratos em vigor nos quais você pode responder e apresentar sua oferta.</p>
            <strong>Categoria</strong>

            <select id="categoria" name="categoria" th:value="*{categorias}">
                <option disabled="true" selected="true">Escolha um filtro</option>
                <option th:each="categoria : ${categorias}"
                        th:value="${categoria}"
                        th:text="${categoria.nome}" ></option>
            </select>
            <label for="categoria">Categoria</label>

            <div id="projetos">
                <p class="center flow-text red-text">Escolha uma categoria para mostrar as demandas existentes!</p>
            </div>

        </div>
    </div>
</th:block>
</body>
</html>