<!DOCTYPE html>
<html ng-app="ValidacaoFormularios"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simples">

<th:block layout:fragment="conteudo">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="container center-align">
                <a class="waves-effect waves-light distance" th:href="@{/}">

                    <img alt="EasyTask" th:src="@{/layout/images/logo.png}"/>
                </a>
            </div>

            <!-- Mostrando os Erros -->
            <div th:if="${#bools.isTrue(param.error)}" class="card-panel red lighten-2">
                <h6 class="white-text center alert-message">
                    <i class="fa fa-exclamation-circle"></i>
                    O usuário e/ou senha não conferem</h6>
            </div>

            <div th:if="${not #lists.isEmpty(erros)}" class="card-panel red lighten-2">
                <ul>
                    <li th:each="erro : ${erros}" th:text="${erro}" class="container white-text"></li>
                </ul>
            </div>

                <ul id="tabs-swipe-demo"  class="tabs">
                    <li class="tab col s6">
                        <a href="#form_login" class="teal-text tooltipped" data-position="top" data-delay="50"
                           data-tooltip="Já possui uma conta? Entre">Entrar</a></li>
                    <li class="tab col s6">
                        <a href="#form_cadastro" class="teal-text tooltipped" data-position="top"
                           data-delay="50" data-tooltip="Não possui uma conta? Cadastre-se">Cadastrar</a></li>
                </ul>


            <!-- Inicio Login -->
            <fieldset class="card-panel" id="form_login">
                <form th:action="@{/login}" method="post">
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="username" id="username" type="text" class="validate" minlength="4" autofocus="autofocus" />
                        <label for="username" data-error="O mínimo é 4 caracteres">Nome de usuário</label>
                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">lock outline</i>
                        <input name="password" id="password" type="password" class="validate" minlength="4" />
                        <label for="password" data-error="O mínimo é 4 caracteres">Password</label>
                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <button class="waves-effect waves-light btn" type="submit">
                            Entrar <i class="material-icons right">send</i>
                        </button>
                        <a class="right" href="#modal_forgetpass">Esqueceu a senha?</a>
                    </div>
                </form>

                <!-- Modal Structure -->
                <div id="modal_forgetpass" class="modal">
                    <div class="modal-content">
                        <h5>Digite seu endereço de e-mail e nós lhe enviaremos um link para redefinir sua senha.</h5>
                        <form th:action="@{/recuperar_senha}" method="POST">
                            <div class="input-field">
                                <i class="material-icons prefix">email</i>

                                <input name="email" id="emailfp" type="email" class="validate" required="required" />

                                <input id="emailfp" type="email" class="validate" required="required" />

                                <label for="emailfp" data-error="email inválido" data-success="email válido">Email</label>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" th:value="Enviar" />
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Fim modal -->
            </fieldset>
            <!-- Fim login -->

            <!-- Formulario de cadastro -->
            <fieldset class="card-panel" id="form_cadastro">

                <form ng-controller="FormController" th:action="@{/cadastro}" method="post">

                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="username" id="uusername" type="text" class="validate" required="required" />
                        <label for="uusername" data-error="username inválido" data-success="username válido">Username</label>
                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">person</i>
                        <input name="nome" id="name" type="text" class="validate" required="required" />
                        <label for="name" data-error="nome inválido" data-success="nome válido">Nome</label>
                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">chrome_reader_mode</i>
                        <input name="cpf" id="cpf" type="text" class="validate" required="required" />
                        <label for="cpf" data-error="nome inválido" data-success="nome válido">CPF</label>
                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">email</i>
                        <input name="email" id="email" type="email" class="validate" required="required" />
                        <label for="email" data-error="email inválido" data-success="email válido">Email</label>
                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">call</i>
                        <input id="telefone" type="tel" class="validate" />
                        <label for="telefone" data-error="telefone inválido" data-success="telefone válido">Telefone</label>
                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">lock outline</i>
                        <input id="password" type="password" class="validate" minlength="4" required="required" ng-model="pass"/>
                        <label for="password" data-error="O mínimo é 4 caracteres">Senha</label>

                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <i class="material-icons prefix">lock</i>
                        <input id="rpassword" type="password" class="validate" minlength="4" required="required" pattern="{{ pass }}" />
                        <label for="rpassword" data-error="As senhas são diferentes">Confirme a senha</label>
                    </div>
                    <div class="input-field col s8 offset-s2 offset-s2">
                        <input class="btn" type="submit" value="Cadastrar" />
                        <input class="btn" type="reset" value="Limpar"  />
                    </div>
                </form>
            </fieldset>
            <!-- Fim cadastro-->
        </div>
    </div>
</th:block>
</html>
