<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/simples">
<body>
<th:block layout:fragment="conteudo">
    <div class="row">
        <div class="container">
            <p>Você pode alterar sua senha no link a seguir: <a class="btn btn-default" th:href="${link} + '/user/recovery-password?token=' + ${token}">Recuperar senha</a></p>
        </div>
    </div>
</th:block>
</body>
</html>